<div class="full-screen">
  <img
    class="half-height"
    @fadeInOut
    src="assets/logo/Sartography-Logo-Vertical-Color.png"
  />
  <div class="company-notice">
    <p class="notice-text">
      Sartography is now 100% focused on our open source project SpiffWorkflow.
      Please visit our new website at <a href="https://spiff.works" target="_blank" rel="noopener noreferrer">https://Spiff.Works</a> to learn more!
    </p>
  </div>
  <a
    mat-button
    pageScroll
    [pageScrollAdjustHash]="true"
    href="#welcome"
    class="explore mat-subheading-2 text-uppercase"
  >
    Explore<br />
    <span
      [inlineSVG]="'/assets/icons/chevron_down.svg'"
      class="chevron-down"
    ></span>
  </a>
</div>
