@import "../../config";

a.explore {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

::ng-deep .chevron-down svg {
  width: 168px;
  height: 84px;

  path {
    stroke-width: 4px;
    stroke: $brand-gray-light-4;
    fill: transparent;
  }
}
