@import "../../config";

.company-notice {
  margin: 40px 0;
  text-align: center;
  max-width: 800px;
  padding: 0 20px;

  .notice-text {
    font-size: 28px;
    line-height: 1.5;
    color: #247a6b;
    margin: 0;

    strong {
      font-weight: 700;
    }

    a {
      color: #247a6b;
      text-decoration: underline;
      font-weight: 600;

      &:hover {
        color: #302e5e;
      }
    }
  }

  @media screen and (max-width: 599px) {
    margin: 20px 0;

    .notice-text {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 959px) {
    .notice-text {
      font-size: 22px;
    }
  }
}

a.explore {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

::ng-deep .chevron-down svg {
  width: 168px;
  height: 84px;

  path {
    stroke-width: 4px;
    stroke: $brand-gray-light-4;
    fill: transparent;
  }
}
