<footer
  class="footer"
  fxLayout="column"
  fxLayout.gt-md="row wrap"
  fxLayoutAlign="center center"
>
  <div [@scrollAnimation]="state" fxFlex="75%">
    <span class="footer-logo" inlineSVG="/assets/logo/Sartography-Logo-Horizontal-White.svg"></span>
  </div>

  <div [@scrollAnimation]="state" fxFlex="25%">
    <address class="mat-body-1">
      <span class="text-primary">Sartography</span><br>
      c/o Staunton Makerspace<br>
      20 S. Jefferson Street<br>
      Staunton VA 24401<br>
      <a href="mailto://support@sartography.com">support@sartography.com</a><br>
      <a href="tel:+15404570024">540.457.0024</a>
    </address>
  </div>

  <p fxFlex="100%" class="mat-caption copyright">Copyright &copy; {{today | date:'yyyy'}} Sartography LLC. All Rights Reserved.</p>
</footer>
