@import "../../config";

footer {
  background-color: $brand-gray;
  color: white;

  ::ng-deep .footer-logo svg {
    max-width: 100%;
    max-height: 25vh;
  }

  address {
    font-style: normal;
  }

  .copyright {
    margin-top: 2em;
    text-align: center;
    color: $brand-gray-light-1;
  }
}
