<footer
  class="footer"
  gdColumns="3fr 1fr"
  gdAlignColumns="center center"
>
  <div [@scrollAnimation]="state">
    <span class="footer-logo" inlineSVG="/assets/logo/Sartography-Logo-Horizontal-White.svg"></span>
  </div>

  <div [@scrollAnimation]="state">
    <address class="mat-body-1">
      Sartography<br>
      c/o Staunton Makerspace<br>
      20 S. Jefferson Street<br>
      Staunton VA 24401<br>
      <a href="mailto://support@sartography.com">support@sartography.com</a><br>
      <a href="tel:+15404570024">540.457.0024</a>
    </address>
  </div>


  <p gdColumn="span 2" class="copyright">Copyright &copy; {{today | date:'yyyy'}} Sartography LLC. All Rights Reserved.</p>
</footer>
