<footer class="footer">
  <div class="footer-image" [@scrollAnimation]="state">
    <span class="footer-logo" inlineSVG="/assets/logo/Sartography-Logo-Horizontal-White.svg"></span>
  </div>

  <div class="footer-addr" [@scrollAnimation]="state">
    <address class="mat-body-1">
      <span class="text-primary">Sartography</span><br>
      PO Box 3003<br>
      Staunton VA 24402<br>
      <a href="mailto://support@sartography.com">support&#64;sartography.com</a><br>
      <a href="tel:+15404570024">540.457.0024</a>
    </address>
  </div>

  <p fxFlex="100%" class="mat-caption copyright">Copyright &copy; {{today | date:'yyyy'}} Sartography LLC. All Rights Reserved.</p>
</footer>
