@import "../../config";

footer {
  background-color: $brand-gray;

  ::ng-deep .footer-logo svg {
    max-width: 100%;
    max-height: 400px;
  }

  address {
    color: white;
    font-style: normal;
    a { color: white; }
  }
}
