<div
  class="contact-us"
  [@scrollAnimation]="state"
>
  <div class="container form-container">
    <div class="margin-bottom-2">
      <h1>Contact Us</h1>
    </div>
    <form
      ngNoForm
      action="https://formspree.io/xbnvblvx"
      method="POST"
    >
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      >
        <div
          fxLayout="column"
          fxLayoutGap="2%"
          fxLayoutAlign="center start"
        >
          <div
            id="error_message"
            class="display mat-error"
          >{{errorEmitter | async}}</div>
          <button
            mat-flat-button
            type="submit"
            color="primary"
            id="submit"
          >Submit</button>
        </div>
      </formly-form>
    </form>
  </div>
</div>
