@import "../../config";

.about-us {
  position: relative;
  background-color: $dark-gray;
  background-image: url("/assets/images/about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 1600px;

  .title {
    margin-top: 80px;
    margin-left: 80px;

    h1 {
      color: $brand-primary;
      margin-bottom: 0;
    }
  }

  .capabilities {
    margin-top: 300px;
    margin-right: 80px;

    ::ng-deep .capability-icon svg {
      margin-top: -52px;
      width: 128px;
      height: 128px;
    }
  }

  .even {
    text-align: right;

    .details {
      background-color: transparent;
      h3 { color: $brand-primary-dark-1; }
    }
    .icon {
      background-color: transparent;
      ::ng-deep .capability-icon svg path { fill: $brand-primary; }
    }
    .icon-spacer {
      background-color: $brand-gray;

      &::after {
        content: '';
        width: 1px;
        height: 100%;
        background-color: $brand-gray-light-4;
      }
    }
    .details-spacer { background-color: $brand-gray; }
  }

  .odd {
    text-align: left;

    .details-spacer { background-color: transparent; }
    .icon-spacer { background-color: transparent; }
    .icon {
      background-color: $brand-gray;
      ::ng-deep .capability-icon svg path { fill: $brand-primary-light-1; }
    }
    .details {
      background-color: $brand-gray;
      color: white;
      h3 { color: $brand-primary-light-2; }
    }
  }
}
