@import "../../config";

.about-us {
  position: relative;
  background-color: $dark-gray;
  background-image: url("/assets/images/about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1600px;

  @media screen and (max-width: 599px) { background-image: none; }
  @media screen and (min-width: 600px) and (max-width: 959px) { background-image: none; padding-left: 10%; padding-right: 10%; }
  @media screen and (min-width: 960px) and (max-width: 1279px) { background-image: none; padding-left: 20%; padding-right: 20%; }
  @media screen and (min-width: 1280px) and (max-width: 1919px) { background-position: 50% 80%; }
  @media screen and (min-width: 1920px) and (max-width: 5000px) { background-position: 90% 90%; }

  &:before {
    position: absolute;
    content: '';
    background-color: $brand-gray;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 0;

    @media screen and (max-width: 1279px) { width: 100%; }
    @media screen and (min-width: 1280px) and (max-width: 1919px) { width: 50%; }
    @media screen and (min-width: 1920px) and (max-width: 5000px) { width: 33.333%; }
  }

  &:after {
    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      position: absolute;
      content: '';
      height: 100%;
      left: 0;
      top: 0;
      z-index: 0;
      width: 50%;
    }
  }

  .title {
    z-index: 1;
    margin-top: 80px;
    margin-left: 80px;
    @media screen and (max-width: 1279px) { margin-left: 20px; margin-right: 20px; }

    h1 {
      color: $brand-primary;
      margin-bottom: 0;
      @media screen and (max-width: 1279px) { color: $brand-primary-light-2; }
    }

    h2 {
      color: $brand-gray;
      @media screen and (max-width: 1279px) { color: white; }
    }
  }

  .cap-group {
    display:flex;
    flex-direction: column;
  }
  .cap-group { @media screen and (min-width: 1920px) {
    flex-direction: row;
  }
  }


  .cap-spacer {
    display: none;
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 33.333%;
  }
  .cap-spacer { @media screen and (min-width: 1920px) {
    display:block;
  }
  }


  .capabilities {
    padding-bottom: 4em;
    z-index: 1;
  }
  .capabilities { @media screen and (min-width: 1920px) {
    max-width: 66.667%;
  }
  }


}

.bg-about-us {
  background-image: url("/assets/images/bg-about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 75%;
  min-height: 75vh;
  min-width: 100vw;
}
.bg-about-us { @media screen and (min-width: 1280px) {
  display:none;
}
}
