<div class="about-us flex-col "  fxLayoutAlign="start start">
  <div class="title">
    <h1 class="mat-display-1">About Us</h1>
    <h2 class="mat-display-3">What We Do</h2>
  </div>
  <div class="flex-col">
    <div fxHide fxShow.gt-lg fxFlex.xl="33.333%"></div>
    <div class="capabilities flex-col" fxFlex.xl="66.667%">
      <app-capability-details
        *ngFor="let c of capabilities; let i = index"
        [capability]="c"
        [index]="i"
        [numTotal]="capabilities.length"
      ></app-capability-details>
    </div>
  </div>
</div>
<div class="bg-about-us" fxShow fxHide.gt-md></div>
