@import "../../config";

.about-us {
  position: relative;
  background-color: $dark-gray;
  background-image: url("/assets/images/about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 1600px;
  min-width: 100vw;

  .title {
    margin-top: 80px;
    margin-left: 80px;

    h1 {
      color: $brand-primary;
      margin-bottom: 0;
    }
  }

  .capabilities {
    margin-top: 300px;
    margin-left: 80px;
    margin-right: 80px;

    ::ng-deep .capability-icon svg {
      margin-top: -52px;
      width: 128px;
      height: 128px;
    }

    .icon-left,
    .icon-right {
      position: relative;
      background-color: transparent;

      &:after {
        position: absolute;
        left: 50%;
        content: '';
        width: 2px;
      }
    }
  }

  .even {
    text-align: right;

    .details-left {
      background-color: transparent;
      h3 { color: $brand-primary-dark-1; }
    }
    .icon-left {
      ::ng-deep .capability-icon svg path { fill: $brand-primary; }

      &:after {
        @media screen and (min-width: 96px) {
          bottom: 0;
          height: calc(100% - 64px);
          background-color: $brand-gray-light-3;
        }
      }
    }
    .icon-right {
      &:after {
        @media screen and (min-width: 96px) {
          top: 0;
          height: calc(100% - 40px);
          background-color: $brand-gray-light-1;
        }
      }
    }
    .details-right { background-color: transparent; }

    &:first-of-type .icon-right:after { background-color: transparent; }

    &:last-of-type,
    &:nth-last-of-type(2) {
       .icon-left:after { background-color: transparent; }
    }
  }

  .odd {
    text-align: left;

    .details-left { background-color: transparent; }
    .icon-left {
      &:after {
        @media screen and (min-width: 96px) {
          top: 0;
          height: calc(100% - 40px);
          background-color: $brand-gray-light-3;
        }
      }
    }
    .icon-right {
      ::ng-deep .capability-icon svg path { fill: $brand-primary-light-1; }

      &:after {
        @media screen and (min-width: 96px) {
          bottom: 0;
          height: calc(100% - 64px);
          background-color: $brand-gray-light-1;
        }
      }
    }
    .details-right {
      background-color: transparent;
      color: white;
      h3 { color: $brand-primary-light-2; }
    }

    &:last-of-type .icon-right:after { background-color: transparent; }
    &:last-of-type .icon-left:after { background-color: transparent; }
  }
}
