<div
  class="main mat-typography"
  scrollSpy (sectionChange)="onSectionChange($event)"
>
  <div
    id="menu"
    fxLayout="column"
    fxLayoutGap="20px"
    fxLayoutAlign="center end"
    [ngClass]="{'scrolling': isScrolling}"
 >
    <a
      *ngFor="let link of menuLinks"
      mat-button
      pageScroll
      href="#{{ link.id }}"
      (click)="onMenuClick(link.id)"
      [ngClass]="{'active': currentSection === link.id}"
      id="{{link.id}}_menu_link"
    >{{ link.label }}</a>
    <div id="selected_indicator" [ngStyle]="{'top.px': activeLinkTop, 'opacity': showIndicator ? 1 : 0}"></div>
  </div>

  <div *ngFor="let link of menuLinks" class="scroll-spy-section" id="{{link.id}}">
    <ng-container *ngComponentOutlet="link.component"></ng-container>
  </div>

  <app-footer id="footer"></app-footer>
</div>
