.logo-values {
  padding: 80px;

  .logo-element {
    ::ng-deep svg {
      width: 64px;
      height: 64px;
    }
  }

  .value {
    margin-bottom: 2em;
  }
}

.logo-animated {
  ::ng-deep svg {

    @media screen and (max-width: 599px) { max-height: 75vh; max-width: 75vw; }
    @media screen and (min-width: 600px) and (max-width: 959px) { max-height: 75vh; max-width: 75vw; }
    @media screen and (min-width: 960px) and (max-width: 1279px) { max-height: 75vh; max-width: 75vw; }
    @media screen and (min-width: 1280px) and (max-width: 1919px) { max-height: 100vh; max-width: 30vw; }
    @media screen and (min-width: 1920px) and (max-width: 5000px) { max-height: 100vh; max-width: 30vw; }

    #the_ribbon,
    #the_equals_sign,
    #the_compass,
    #the_heart,
    #the_thread,
    #the_circle {
      opacity: 0;
      transition: all 1s ease-in-out;

      &.highlight {
        stroke-width: 6px;
        opacity: 1;

      }
    }
  }
}
