<h1>Our Logo</h1>
<h3>The Meaning Behind our Logo Design</h3>

<h4>The Compass</h4>
<p>
  It stands for the exact representation of information. We do not aim to make
  things beautiful first, but to make things exact, and in doing so, bring forth
  beauty.
</p>

<h4>The Heart</h4>
<p>
  We take on work that insights our passion for learning, building, and creating
  a better world.
</p>

<h4>The Thread</h4>
<p>
  We are woven together, our endeavors are collaborative, each effort binds us
  together as a team, in a collective endeavor, made of many skills and
  countless contributions. A grand tapestry we make.
</p>

<h4>Bespoke</h4>
<p>
  This word evolved from the verb "to speak for something". We wish to speak for
  something good. In present use as an adjuctive, it should evoke a sense of the
  tailor made, something crafted to specification.
</p>

<h1>Our Values</h1>
<h3>Conversation</h3>
<p>First we listen, then we find empathy, then we accept responsibility.</p>
<p>
  We work daily with scientists and experts who live and breathe their passions.
  Our work with excellent minds allows us to build true innovations through
  tight collaboration.
</p>
<h3>Respect</h3>
<p>
  Respect must begin within yourself. We will take time to respect and care for
  ourselves, then our families, and then our clients. We will come to work with
  the power to make things happen and the balance of perspective that comes from
  being healthy and happy in the rest of our lives. We then have the most to
  give others.
</p>
<h3>Rigor</h3>
<p>
  We have long worked with scientists. We know every piece of data matters. It
  must make sense, it must be easy to access, manipulate, and share. We spend a
  lot of time thinking about the importance of information, because if done
  correctly, good data can change the way we all see the world.
</p>
<h3>Play</h3>
<p>
  We must play. At the Makerspace, in our code, with our kids. It is the act of
  play that enlivens our minds and brings us joy. Joy begets works of delight,
  delight brings engagement, engagement brings insight. Insight brings us
  greater wisdom. Wisdom teaches us how to play.
</p>
