.values {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1280px) { flex-direction: row; gap:80px };
  .items-start { align-items: start; }
  place-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  gap:0;

}

.value-section {
  flex: 1 1 100%;
  box-sizing: border-box;
  place-self: stretch;
  display: grid;
  grid-template-rows: auto;
  @media screen and (min-width: 1280px) { margin-right: 80px; max-width: 33%; }
}

.center-logo {
  margin-right: 80px;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 33%;
  display: none;
  @media screen and (min-width: 1280px) { display: block; }
}

.logo-values {
  padding: 80px;
  @media screen and (max-width: 599px) { padding-left: 20px; padding-right: 20px; }
  @media screen and (min-width: 600px) and (max-width: 959px) { padding-left: 10%; padding-right: 10%; }
  @media screen and (min-width: 960px) and (max-width: 1279px) { padding-left: 20%; padding-right: 20%; }
}

.logo-animated {
  ::ng-deep svg {

    @media screen and (max-width: 599px) { max-height: 75vh; max-width: 75vw; }
    @media screen and (min-width: 600px) and (max-width: 959px) { max-height: 75vh; max-width: 75vw; }
    @media screen and (min-width: 960px) and (max-width: 1279px) { max-height: 75vh; max-width: 75vw; }
    @media screen and (min-width: 1280px) and (max-width: 1919px) { max-height: 100vh; max-width: 30vw; }
    @media screen and (min-width: 1920px) and (max-width: 5000px) { max-height: 100vh; max-width: 30vw; }

    #the_ribbon,
    #the_equals_sign,
    #the_compass,
    #the_heart,
    #the_thread,
    #the_circle {
      opacity: 0;
      transition: all 1s ease-in-out;

      &.highlight {
        stroke-width: 6px;
        opacity: 1;

      }
    }
  }
}
