<div class="team-member" [@scrollAnimation]="state">
  <div class="team-avatar-small" fxShow fxHide.gt-md fxFlex="16.67%">
    <img src="{{ teamMember.imageLink }}">
  </div>
  <div class="team-avatar" *ngIf="isEven(index)">
    <img src="{{ teamMember.imageLink }}">
  </div>
  <div class="team-details">
    <h2>{{ teamMember.firstName }} {{ teamMember.lastName }}</h2>
    <h3>{{ teamMember.title }}</h3>
    <p *ngFor="let d of teamMember.description">{{ d }}</p>
    <a
      *ngIf="teamMember.gitHubLink"
      [href]="teamMember.gitHubLink"
      mat-button
      target="_blank"
      class="btn-github mat-elevation-z0"
      matTooltip="{{teamMember.firstName}}'s GitHub Profile"
    ><span inlineSVG="/assets/icons/github.svg"></span></a>
    <a
      *ngIf="teamMember.linkedInLink"
      [href]="teamMember.linkedInLink"
      mat-button
      target="_blank"
      class="btn-linkedin mat-elevation-z0"
      matTooltip="{{teamMember.firstName}}'s LinkedIn Profile"
    ><span inlineSVG="/assets/icons/linkedin.svg"></span></a>
    <a
      *ngIf="teamMember.resume"
      href="assets/resume/{{teamMember.resume}}.pdf"
      mat-button
      target="_blank"
      class="btn-linkedin mat-elevation-z0"
      matTooltip="{{teamMember.firstName}}'s Resume"
    ><span inlineSVG="/assets/icons/cv.svg"></span></a>
  </div>
  <div class="team-avatar" *ngIf="!isEven(index)" >
    <img src="{{ teamMember.imageLink }}">
  </div>
</div>

