.logo-element {
  ::ng-deep svg {
    width: 64px;
    height: 64px;
  }
}

.value {
  margin-bottom: 2em;
}

.value-group {
  justify-content: center;
  display: grid;
  justify-items: center;
  grid-template-rows: auto auto auto;
  opacity: 1;
}
