<div
  class="full-screen"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutAlign="center center"
>
    <div>
        <h1>
            <span class="mat-display-3">Welcome to</span><br>
            <span class="mat-display-4">Sartography</span>
        </h1>
    
        <p class="mat-subheader">Solving problems that matter with technical skills and emotional intelligence.</p>            
    </div>
    <div>
        <img class="full-height" @fadeInOut src="assets/images/welcome.jpg"/>
    </div>

</div>
