<div
  class="gradient-overlay-section"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutAlign="center center"
>
  <div [@scrollAnimation]="state">
    <div fxLayout="column">
      <h1>
        <span class="mat-display-3">Welcome to</span><br />
        <span class="mat-display-4">Sartography</span>
      </h1>

      <p class="mat-subheader">
        Solving problems that matter with technical skills and emotional
        intelligence.
      </p>

      <button mat-flat-button color="primary">Get Started</button>
    </div>
  </div>
  <div class="bg-welcome" [@scrollAnimation]="state"></div>
</div>
