<h1 class="full-width-heading bg-primary">Color Palette</h1>
<div class="container">
  <div fxLayout="column" fxLayoutGap="10px">
    <div *ngFor="let hue of hues" fxLayout="row" fxLayoutGap="0px">
      <div
        *ngFor="let variant of variants"
        class="swatch bg-{{hue}}{{variant.suffix}} text-{{variant.contrast}}"
        gdAlignRows="center center"
        gdAlignColumns="center center"
      >
        {{hue}}{{variant.suffix}}
      </div>
    </div>
  </div>
</div>

<h1 class="full-width-heading bg-accent">Typography</h1>
<div class="container">
  <h1 class="mat-display-4">Jumbo Heading 1 - mat-display-4</h1>
  <h1 class="mat-display-3">Jumbo Heading 1 - mat-display-3</h1>
  <h1 class="mat-display-2">Jumbo Heading 1 - mat-display-2</h1>
  <h1 class="mat-display-1">Jumbo Heading 1 - mat-display-1</h1>
  <h1>H1 - Heading 1 - mat-h1</h1>
  <h2>H2 - Heading 2 - mat-h2</h2>
  <h3>H3 - Heading 3 - mat-h3</h3>
  <h4>H4 - Heading 4 - mat-h4</h4>
  <h5>H5 - Heading 5 - mat-h5</h5>
  <h6>H6 - Heading 6 - mat-h6</h6>
  <p>Body 2</p>
  <p>Body 1</p>
</div>
