<div
  class="case-study big {{isEven(index) ? 'even' : 'odd'}}"
  [@scrollAnimation]="state"
>
  <img *ngIf="isEven(index)" class="thumbnail" src="{{ caseStudy.featureLink }}">
  <div>
    <h3>{{caseStudy.organizationName}}</h3>
    <h2>{{ caseStudy.projectName }}</h2>
    <h4>{{ caseStudy.tagLine }}</h4>
  </div>
  <img *ngIf="!isEven(index)" class="thumbnail" src="{{ caseStudy.featureLink }}">
</div>
<div
  class="case-study small"
  [@scrollAnimation]="state"
>
  <img class="thumbnail" src="{{ caseStudy.featureLink }}">
  <div>
    <h3>{{caseStudy.organizationName}}</h3>
    <h2>{{ caseStudy.projectName }}</h2>
    <h4>{{ caseStudy.tagLine }}</h4>
  </div>
</div>
