.case-study {
  &.case-study-left { justify-self: flex-start; }
  &.case-study-right { justify-self: end; }
  align-items: center;

  .thumbnail {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }

  h2, h3, h4 {
    margin: 0;
    padding: 0;
  }
}

.big {
  display: none;
  @media screen and (min-width: 960px) { display:flex }
  flex-direction: row;
  justify-content: start;
}

.small {
  display: flex;
  @media screen and (min-width: 960px) { display:none }
  flex-direction: column;
  justify-content: start;
  justify-items: center;
  gap: 20px;
}


.even {
  align-self: flex-start;
  justify-content: flex-start;
  gap:20px;
}

.odd {
  align-self: flex-end;
  justify-content: flex-end;
  gap:20px;
}
