<div class="container">
  <div class="title">
    <h1>SpiffWorkflow Training</h1>
    <h3>Empower your team with expert-led training in BPMN and SpiffWorkflow</h3>
  </div>

  <img src="assets/images/training/train.jpg" alt="Team collaborating on a BPMN diagram" class="hero-image"/>

  <main>
    <p>All training sessions are provided live, either over a video call or in person. Our comprehensive courses are
      designed to help you master complex topics and build transparency and understanding between diverse
      interdisciplinary teams in your organization.</p>
    <p>Training is provided by core developers of the open source SpiffWorkflow application and
    experts in Business Process Modeling Notation.</p>

    <section class="training-type">
      <div class="training-head">
        <span
          [inlineSVG]="'/assets/icons/workflow.svg'"
          class="train-icon"
        ></span>
        <div>
          <h2>Business Analyst Training</h2>
          <p><strong>Duration:</strong> 5 hours per day over 3 consecutive days</p>
          <p><strong>Format:</strong> Live video call</p>
          <p>Our Business Analyst Training offers an in-depth exploration of BPMN Modeling with practical labs and exercises
            in SpiffWorkflow.</p>
        </div>
      </div>
      <h3>BPMN Topics Covered:</h3>
      <ul>
        <li>Analytic Modeling</li>
        <li>BPMN Task Types</li>
        <li>Gateways</li>
        <li>Composition (sub-processes, call activities)</li>
        <li>Concurrency</li>
        <li>Data Objects and Data Stores</li>
        <li>Events</li>
        <li>Messages</li>
        <li>Loops</li>
        <li>Escalations</li>
      </ul>
      <h3>SpiffWorkflow Specific Topics:</h3>
      <ul>
        <li>Testing and BPMN Extensions</li>
        <li>Managing groups and permissions</li>
        <li>Creating approval processes</li>
        <li>Maximizing DMN decision tables</li>
      </ul>
      <div class="price">
        <p>Organizational Training: $16,400 (max class size 10 people)</p>
        <p>Individual Training: $3,200 per person (when available)</p>
      </div>
    </section>

    <section class="training-type">
      <div class="training-head">
        <div
          [inlineSVG]="'/assets/icons/python.svg'"
          class="train-icon"
        ></div>
        <div>
        <h2>Integration Training</h2>
        <p><strong>Duration:</strong> 5 hours (1 day workshop)</p>
        <p><strong>Target Audience:</strong> Software developers and Dev/Ops teams</p>
        <p>Our Integration Training is designed for those who need to manage and extend SpiffWorkflow.</p>
        </div>
      </div>
      <h3>Course Content:</h3>
      <ul>
        <li>Building extensions within the SpiffWorkflow application</li>
        <li>Creating standalone Python applications referenced from the SpiffWorkflow interface</li>
        <li>Brief overview of BPMN</li>
      </ul>
      <div class="price">
        <p>Organizational Training: $4,000 (max class size 10 people)</p>
      </div>
    </section>

    <p>BPMN and SpiffWorkflow are complex topics that require training to use them effectively. With our expert-led
      courses, you'll be equipped to accomplish highly complex tasks and improve collaboration across your
      organization.</p>

    <a href="#" class="cta">Enroll in Training Today</a>
  </main>

</div>
