/* You can add global styles to this file, and also import other style files */

// Import your custom theme
@import "sartography_material";
// Load the UVA Theme
@include sartography-theme($sartography-theme);

@import "./helpers";

.full-screen {
  background-color: #ffffff;
  padding: 80px;
  display: grid;
  height: 100%;
  min-height: 100vh;

  img.half-height {
    max-height: 50vh;
    margin: auto;
  }

  img.full-height {
    max-height: 100vh;
    margin: auto;
  }
}

.container {
  padding: 80px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}


// COLORS
.bg-primary             { background-color: $brand-primary; }
.bg-primary-light-1    { background-color: $brand-primary-light-1; }
.bg-primary-light-2    { background-color: $brand-primary-light-2; }
.bg-primary-light-3    { background-color: $brand-primary-light-3; }
.bg-primary-light-4    { background-color: $brand-primary-light-4; }
.bg-primary-dark-4     { background-color: $brand-primary-dark-4; }
.bg-primary-dark-3     { background-color: $brand-primary-dark-3; }
.bg-primary-dark-2     { background-color: $brand-primary-dark-2; }
.bg-primary-dark-1     { background-color: $brand-primary-dark-1; }
.bg-accent              { background-color: $brand-accent; }
.bg-accent-light-1     { background-color: $brand-accent-light-1; }
.bg-accent-light-2     { background-color: $brand-accent-light-2; }
.bg-accent-light-3     { background-color: $brand-accent-light-3; }
.bg-accent-light-4     { background-color: $brand-accent-light-4; }
.bg-accent-dark-4      { background-color: $brand-accent-dark-4; }
.bg-accent-dark-3      { background-color: $brand-accent-dark-3; }
.bg-accent-dark-2      { background-color: $brand-accent-dark-2; }
.bg-accent-dark-1      { background-color: $brand-accent-dark-1; }
.bg-warning             { background-color: $brand-warning; }
.bg-warning-light-1    { background-color: $brand-warning-light-1; }
.bg-warning-light-2    { background-color: $brand-warning-light-2; }
.bg-warning-light-3    { background-color: $brand-warning-light-3; }
.bg-warning-light-4    { background-color: $brand-warning-light-4; }
.bg-warning-dark-4     { background-color: $brand-warning-dark-4; }
.bg-warning-dark-3     { background-color: $brand-warning-dark-3; }
.bg-warning-dark-2     { background-color: $brand-warning-dark-2; }
.bg-warning-dark-1     { background-color: $brand-warning-dark-1; }
.bg-gray                { background-color: $brand-gray; }
.bg-gray-light-1       { background-color: $brand-gray-light-1; }
.bg-gray-light-2       { background-color: $brand-gray-light-2; }
.bg-gray-light-3       { background-color: $brand-gray-light-3; }
.bg-gray-light-4       { background-color: $brand-gray-light-4; }
.bg-gray-dark-4        { background-color: $brand-gray-dark-4; }
.bg-gray-dark-3        { background-color: $brand-gray-dark-3; }
.bg-gray-dark-2        { background-color: $brand-gray-dark-2; }
.bg-gray-dark-1        { background-color: $brand-gray-dark-1; }

// BACKGROUND EFFECTS
.gradient-overlay-section {
  background-color: white;
  width: 100vw;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    z-index: 9;
  }
}
