<div
  class="case-studies"
>
  <h1>Projects</h1>
  <div fxLayout="row">
    <div
      *ngFor="let study of caseStudies"
      [ngStyle]="{'background-image': 'linear-gradient(to bottom right, rgba(0,0,0,0.75), rgba(0,0,0,0.25)), url('+ study.featureLink + ')'}"
      [ngClass]="{
        'case-study': true,
        'selected': isExpanded && (selectedStudyId === study.id)
      }"
      fxFlex="{{isExpanded ? (selectedStudyId === study.id ? 60 : (40 / (caseStudies.length - 1))) : (100 / caseStudies.length)}}"
      (click)="toggleExpanded(study.id)"
    >
      <h2>
        <span class="mat-h3">{{study.organizationName}}</span><br>
        <span class="mat-h2">{{ study.projectName }}</span>
      </h2>

      <div class="case-study-details">
        <h3>{{ study.organizationName }}</h3>
        <h2>{{ study.projectName }}</h2>

        <h4>{{ study.tagLine }}</h4>
        <p>{{ study.description }}</p>
        <img class="thumbnail" src="{{ study.imageLink }}">

        <div
          *ngIf="study.testimonials"
        >
          <div
            *ngFor="let t of study.testimonials"
            class="testimonial"
          >
            <p>"{{ t.quote}}"</p>
            <p>- {{ t.name}}<br/><i>&nbsp; {{t.title}}</i></p>
          </div>
        </div>
        <a
          *ngIf="study.websiteLink"
          mat-flat-button
          [href]="study.websiteLink"
          target="_blank"
        >
          Visit Website
        </a>
        <a
          *ngIf="study.gitHubLink"
          mat-flat-button
          [href]="study.gitHubLink"
          target="_blank"
        >
          View on GitHub
        </a>

      </div>
    </div>
  </div>
</div>
