<h1>Sample Engagements
  <em>Click on the images below to learn more, including feedback from our clients.</em>
</h1>
<div
  class="case-studies"
  *ngIf="caseStudies && caseStudies.length > 0"
>
  <div fxLayout="column" fxLayoutGap="80px">
    <app-case-study
      *ngFor="let c of caseStudies, let i = index;"
      [caseStudy]="c"
      [index]="i"
      [isExpanded]="isExpanded"
      (click)="toggleExpanded(c.id)"
    ></app-case-study>
  </div>

  <div
    *ngIf="isExpanded && selectedStudyId && selectedStudy"
    class="selected-case-study"
    fxLayout="column"
    fxLayoutGap="20px"
    [@scrollAnimation]="expandedState"
  >
    <button mat-fab color="primary" (click)="toggleExpanded(selectedStudy.id)" id="back">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="40px" fxLayoutAlign="center center">
      <img src="{{ selectedStudy.imageLink }}" class="full-size">
      <div>
        <h3>{{ selectedStudy.organizationName }}</h3>
        <h2>{{ selectedStudy.projectName }}</h2>
        <p>{{ selectedStudy.description }}</p>

        <div *ngIf="selectedStudy.testimonials">
          <div
            *ngFor="let t of selectedStudy.testimonials"
            class="testimonial"
          >
            <blockquote>
              {{ t.quote}}
              <footer>
                {{ t.name}}<br/>
                <cite>{{t.title}}</cite></footer>
            </blockquote>

            <div fxLayout="row" fxLayoutGap="10px">
              <a
                *ngIf="selectedStudy.websiteLink"
                mat-flat-button
                [href]="selectedStudy.websiteLink"
                target="_blank"
              >
                Website
              </a>
              <a
                *ngIf="selectedStudy.gitHubLink"
                mat-flat-button
                [href]="selectedStudy.gitHubLink"
                target="_blank"
              >
                GitHub
              </a>
              <a
                *ngIf="selectedStudy.downloadLink"
                mat-flat-button
                [href]="selectedStudy.downloadLink"
                target="_blank"
              >
                Download Article
              </a>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
