<div
  class="about-us"
  id="about-us"
  fxLayout="column"
  fxLayoutGap="2%"
>
    <h1>The Team</h1>
    <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="2%"
    fxLayoutAlign="space-between stretch"
    >
    <div
        *ngFor="let t of teamMembers"
        fxFlex="30%"
    >
        <mat-card>
        <div class="top">
            <div class="circle-img">
            <img src="{{ t.imageLink }}">
            </div>
            <h2>{{ t.firstName }}</h2>
            <h2>{{ t.lastName }}</h2>
            <h3>{{ t.title }}</h3>
        </div>
        <div *ngFor="let d of t.description">
            <p>{{ d }}</p>
        </div>
        <a
            *ngIf="t.gitHubLink"
            mat-flat-button
            target="_blank"
            [href]="t.gitHubLink"
        >
            GitHub
        </a>
        <a
            *ngIf="t.linkedInLink"
            mat-flat-button
            target="_blank"
            [href]="t.linkedInLink"
        >
            LinkedIn
        </a>
        </mat-card>
    </div>
    </div>
</div>